<!-- <div fxLayout="column">
  <div fxLayout="row" fxLayout.xs="column" style="min-height: 700px;">
    <nav fxFlex="15" fxFlexOrder.xs="2" class="lmSection_article">
      <div>advertisement</div>
    </nav>
    <article fxFlex="70" fxFlexOrder.xs="1" class="mmSection_article">
      <div>
        <H1>Articles</H1>
      </div>
    </article>
    <aside fxFlex="15" fxFlexOrder.xs="3" class="rmSection_article">
      <div>advertisement</div>
    </aside>
  </div>
</div> -->

<div fxLayout="column">
  <div fxLayout="row" style="text-align:center;">
    <nav fxFlex="15" fxFlexOrder.xs="2">
      <div></div>
    </nav>
    <article fxFlex="70" fxFlexOrder.xs="1">
      <div>
        <H1>Articles</H1>
        <button class="cancel-button" (click)="createError()" style="border:1px solid #dfdfdf;" mat-button>create error</button>
      </div>
    </article>
    <aside fxFlex="15" fxFlexOrder.xs="3">
      <div></div>
    </aside>
  </div>
</div>
