<div fxLayout="column">
  <div fxLayout="row" style="text-align:center;">
    <nav fxFlex="15" fxFlexOrder.xs="2">
      <div></div>
    </nav>
    <article fxFlex="70" fxFlexOrder.xs="1">
      <div>
        <H1>Advertisements</H1>
        <ul class="heroes">
          <li *ngFor="let ad of ads">
            <a routerLink="/">
              <span class="badge">{{ad.adId}}</span> {{ad.adTitle}}
            </a>
          </li>
        </ul>
      </div>
    </article>
    <aside fxFlex="15" fxFlexOrder.xs="3">
      <div></div>
    </aside>
  </div>
</div>