<!-- <div fxLayout="column">
  <div fxLayout="row" fxLayout.xs="column" style="min-height: 700px;">
    <nav fxFlex="15" fxFlexOrder.xs="2" class="lmSection_ad">
      <div>advertisement</div>
    </nav>
    <article fxFlex="70" fxFlexOrder.xs="1" class="mmSection_ad">
      <div>
        <H1>Advertisements</H1>
      </div>
    </article>
    <aside fxFlex="15" fxFlexOrder.xs="3" class="rmSection_ad">
      <div>advertisement</div>
    </aside>
  </div>
</div> -->

<div fxLayout="column">
  <div fxLayout="row" style="text-align:center;">
    <nav fxFlex="15" fxFlexOrder.xs="2">
      <div></div>
    </nav>
    <article fxFlex="70" fxFlexOrder.xs="1">
      <div>
        <H1>Advertisements</H1>
        <ul class="heroes">
          <li *ngFor="let hero of heroes">
            <a routerLink="delete/:{{hero.id}}">
              <span class="badge">{{hero.id}}</span> {{hero.name}}
              <button class="delete" title="delete hero" (click)="delete(hero)">x</button>
            </a>
          </li>
        </ul>
      </div>
    </article>
    <aside fxFlex="15" fxFlexOrder.xs="3">
      <div></div>
    </aside>
  </div>
</div>