<div class="container">
    <mdc-top-app-bar #spappbar [short]="true" [fixedAdjustElement]="mainContent">
        <app-header></app-header>        
    </mdc-top-app-bar>
</div>
<div #mainContent style="min-height: 850px;">
  <hr>
  <ngx-loading-bar [color]="'red'"></ngx-loading-bar>
  <router-outlet></router-outlet>
</div>
<footer style="height : 100px; background-color:white;"><div> <hr>
    <button (click)="startLoading()">start</button>
    <button (click)="stopLoading()">stop</button>
</div></footer>
