.lmSection_home {
    background: black;
    color:white;
    text-align:center;
  }
  
  .mmSection_home {
    text-align:center;
  }
  
  .rmSection_home {
    background: black;
    color:white;
    text-align:center;
  }